[tool.commitizen]
name = "cz_conventional_commits"
# name = "cz_customize"
tag_format = "v$version"
version_scheme = "pep440"
version_provider = "uv"
update_changelog_on_bump = false
major_version_zero = true
