[workspace]
authors = ["softwareentrepreneer <softwareentrepreneer+afterpython@gmail.com>"]
channels = ["conda-forge"]
name = "afterpython"
platforms = ["win-64", "linux-64", "osx-arm64", "osx-64"]
requires-pixi = ">=0.60"  # command: pixi workspace requires-pixi set ">=0.60"

[tasks]

[tasks.test-all]
depends-on = [
  { task = "test", environment = "py311" },
  { task = "test", environment = "py312" },
  { task = "test", environment = "py313" },
  # { task = "test", environment = "py314" },
]

[dependencies]
python = ">=3.11.14"
uv = ">=0.9.16"
gh = ">=2.83.1"

# `pixi config set pinning-strategy latest-up` removes the upper bound on the versions of the dependencies
[pypi-dependencies]
afterpython = { path = ".", editable = true }
click = ">=8.3.1"
trogon = ">=0.6.0"
httpx = ">=0.28.1"
tomlkit = ">=0.13.3"
ruamel-yaml = ">=0.18.16"
gitpython = ">=3.1.45"
# pygithub = ">=2.8.1"
python-dotenv = ">=1.2.1"
pyproject-metadata = ">=0.10.0"
# jupytext = ">=1.18.1"
# jinja2 = ">=3.1.6"
mystmd = ">=1.7.0"
pdoc = ">=16.0.0"
ruff = ">=0.14.8"
pre-commit = ">=4.5.0"
commitizen = ">=4.10.0"
# python-semantic-release = ">=10.5.2"

[environments]
default = ["py311", "dev", "optional"]
py311 = ["py311", "dev", "optional", "test"]
py312 = ["py312", "dev", "optional", "test"]
py313 = ["py313", "dev", "optional", "test"]
py314 = ["py314", "dev", "optional", "test"]

[feature.optional.pypi-dependencies]

[feature.dev.pypi-dependencies]
notebook = ">=7.5.0"

[feature.test.pypi-dependencies]
pytest = ">=9.0.2"
pytest-cov = ">=7.0.0"
pytest-mock = ">=3.15.1"
pytest-xdist = ">=3.8.0"
[feature.test.tasks]
test = "pytest -v -n auto"


[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.py313.dependencies]
python = "3.13.*"

[feature.py314.dependencies]
python = "3.14.*"
