[workspace]
authors = ["softwareentrepreneer <softwareentrepreneer+afterpython@gmail.com>"]
channels = ["conda-forge"]
name = "afterpython"
platforms = ["osx-arm64", "linux-64"]
version = "0.0.1.dev2"

[tasks]
add = { cmd = "uv add {{ lib }} && pixi add --pypi {{ lib }}", args = ["lib"] }
remove = { cmd = "uv remove {{ lib }} && pixi remove --pypi {{ lib }}", args = ["lib"] }

[tasks.test-all]
depends-on = [
  { task = "test", environment = "py311" },
  { task = "test", environment = "py312" },
  { task = "test", environment = "py313" },
  { task = "test", environment = "py314" },
]

[dependencies]
python = ">=3.11"
uv = ">=0.9.10"
# NOTE: install mystmd via pixi instead of uv to avoid the restrictive version constraints in pypi package `mystmd`
# since pixi doesn't support override-dependencies
mystmd = ">=1.6.4"
act = ">=0.2.82"
gh = ">=2.83.1"

[pypi-dependencies]
click = ">=8.3.1"
trogon = ">=0.6.0"
httpx = ">=0.28.1"
tomlkit = ">=0.13.3"
ruamel-yaml = ">=0.18.16"
gitpython = ">=3.1.45"
pygithub = ">=2.8.1"
python-dotenv = ">=1.2.1"
pyproject-metadata = ">=0.9.1"
# jupytext = ">=1.18.1"
# jinja2 = ">=3.1.6"
pdoc = ">=16.0.0"
ruff = ">=0.14.5"
pre-commit = ">=4.4.0"
commitizen = ">=4.10.0"
# python-semantic-release = ">=10.5.2"

[environments]
default = ["py311"]
py311 = ["py311", "test"]
py312 = ["py312", "test"]
py313 = ["py313", "test"]
py314 = ["py314", "test"]

[feature.test.pypi-dependencies]
pytest = ">=9.0.1"
pytest-cov = ">=7.0.0"
pytest-mock = ">=3.15.1"
pytest-xdist = ">=3.8.0"
[feature.test.tasks]
test = "pytest"

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

[feature.py313.dependencies]
python = "3.13.*"

[feature.py314.dependencies]
python = "3.14.*"
