default_install_hook_types: ["pre-commit", "commit-msg", "pre-push"]
exclude: ^afterpython/_website/
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-toml
  - id: check-added-large-files
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
  - id: ruff-check
    args:
    - --config
    - ./afterpython/ruff.toml
  - id: ruff-format
